{% assign_local c = "c-hero" %}
<section class="{{ c }} component component--{{ styles.color_group }} {% if styles.image_alignment =='left' %}{{ c }}--left-right-variant {{ c }}--image-left{% elsif styles.image_alignment =='right' %}{{ c }}--left-right-variant {{ c }}--image-right{% endif %} ">
    {% if content.image.image_path %}
        {% bookshop "generic/image" bind:content.image %}
    {% endif %}
    <div class="{{ c }}__cover"></div>
    <div class="{{ c }}__content">
        {% capture heading %}
            eyebrow_headline: {{content.heading.eyebrow_headline}}
            eyebrow_headline_hierarchy: "h2"
            primary_heading: {{content.heading.primary_heading}}
            primary_heading_hierarchy: "h1"
        {% endcapture %}
        {% assign_local heading = heading | ymlify %}
        {% if content.heading or content.description or content.button %}
            <div class="component__heading {{ c }}__heading">
                {% if content.heading %}{% bookshop "generic/heading" bind:heading %}{% endif %}
                {% if content.description %}{% bookshop "generic/text-block" text:content.description %}{% endif %}
            </div>
            {% if content.button %}
                <div class="{{ c }}__content__button">
                    {% bookshop "generic/button" bind:content.button %}
                </div>
            {% endif %}
        {% endif %}
    </div>
</section>