{% assign_local c = "c-checkbox-input" %}
<div class="{{ c }}">
  <input class="{{ c }}__input" 
      type="checkbox" 
      id="{{ id }}" 
      name="{{ group_name }}" 
      value="{{ label }}"
      {% if checked %}checked{% endif %} 
      {% if required %}required{% endif %} />
  <label class="{{ c }}__label" for="{{ id }}">{{ label }}{% if required %} *{% endif %}</label>
</div>