{% assign_local c = "c-form" %}
<section {% if content.id %}id="{{ content.id }}"{% endif %} class="{{ c }} {{ c }}--content-align-{{ styles.content_alignment }} component component--{{ styles.color_group }}" >

    {% if content.heading or content.description %}
        <div class="component__heading {{ c }}__heading">
            {% if content.heading %}{% bookshop "generic/heading" bind:content.heading %}{% endif %}
            {% if content.description %}{% bookshop "generic/text-block" text:content.description %}{% endif %}
        </div>
    {% endif %}

    <div class="{{ c }}__form">
        {% bookshop "simple/form-builder" bind:content.form %}
    </div>
</section>